ion-img.ios.hydrated {
    width: 20%;
}

a {
    background-color: transparent;
    color: #ff3838;
    width: 100;
}

.input-wrapper {
    margin-left: 40px;
}

ion-item.item.ios.item-lines-none.ion-focusable.hydrated {
    margin-left: 90px;
}

.ion-invalid.ion-touched ion-input {
    color: var(--ion-color-danger);
}