<ion-header></ion-header>

<ion-content>


    <article>
        <h1 style="font-size:45px;float:center;font-weight: bold">M O B <a>U</a></h1>
        <ion-img style="padding-left: 20px;" src="./assets/iconeBus.png" style="width:195px;height:195px;"></ion-img>
    </article>



    <Section padding>
        <div class="ion-padding"></div>
        <footer>
            <ion-img src="./assets/logoCPFL.png" style="width:80%;"></ion-img>
        </footer>

        <footer>
            <ion-img src="./assets/logoUnicamp.png" style="width:65%;"></ion-img>
        </footer>

        <footer>
            <ion-img src="./assets/logoANEEL.png" style="width:80%;"></ion-img>
        </footer>
    </Section>

</ion-content>