<ion-content padding center text-center>

    <ion-buttons>
        <ion-back-button defaultHref="/" slort="start" class="ion-padding-bottom"></ion-back-button>
    </ion-buttons>

    <div class="ion-padding"></div>

    <ion-item lines="none" class="ion-padding-top">
        <h2 class="ion-padding-top"><strong>M O B <a >U</a></strong></h2>


        <ion-img src="./assets/iconeBus.png"></ion-img>


    </ion-item>


    <p>Acesse sua conta:</p>
    <div class="ion-padding"></div>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Usuário"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input placeholder="Senha"></ion-input>
        </ion-item>

    </ion-list>
    <!--   <ion-item lines="none">Acesse sua conta</ion-item>
    <ion-button expand="block">
        <ion-input placeholder="Text Input"></ion-input>
    </ion-button>
    <ion-item lines="none">E-mail</ion-item>
    <ion-input placeholder="Email">Text Input</ion-input>
    <ion-item lines="none">Senha</ion-item>
    <ion-input placeholder="Text Input"></ion-input> -->
    <div class="ion-padding"></div>
    <ion-button expand="block" type="submit">Acessar</ion-button>


    <!-- <ion-item>Não possui conta? <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">Cadastre-se</a> </ion-item> -->
    <p>Não possui conta?
        <b target="_blank" rel="noopener" routerLink="/criar-conta">Cadastre-se</b>
    </p>