ion-item.item.ios.in-list.ion-focusable.hydrated {
    height: 60px;
}


/*  ion-item.item.ios.ion-activatable.ion-focusable.hydrated {
     height: 70px;
     line-height: 60px;
}
 ion-item.item.ios.in-list.ion-activatable.ion-focusable.hydrated {
     height: 70px;
     line-height: 60px;
 } */